@import "../../css/variables.less";
@import "../../css/mixins.less";

@color_1: rgb(153, 153, 153);
@color_2: #777;
@background_color_1: rgb(255, 255, 255);

.quick-help-window {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    background-color: @background_color_1;
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 60px 10px 30px 10px;
    display: none;
    color: @color_1;
    z-index: 2000;
    >.header {
        cursor: move;
        background: @background_color_1;
        color: #555555;
        padding: 10px 6px;
        border-bottom: 1px solid rgb(215, 215, 215);
        font-size: 14px;
        span.title {
            font-family: 'MasterPortalFont Bold';
            padding-left: 10px;
        }
        >.glyphicon-remove {
            cursor: pointer;
            font-size: 16px;
            margin-left: 10px;
        }
        >.glyphicon-print {
            cursor: pointer;
            font-size: 16px;
        }
        > div > .glyphicon {
            padding: 4px;
            color: @secondary_icon_button;
            &:hover {
                .primary_action_hover();
            }
            &:focus {
                .primary_action_focus();
            }
        }
    }
    >.content {
        max-height: 90%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;
        font-size: 12px;
        h3 {
            margin-top: 0;
        }
        &:focus {
            .primary_action_focus();
        }
    }
}
.inhalt {
    >a {
        padding: 5px;
        margin: 5px;
        border: 1px solid silver;
        float: left;
        background: #ffffff;
        text-decoration: none;
        color: #333333;
        &:hover {
            .primary_action_hover();
        }
        &:focus {
            .primary_action_focus();
        }
    }
}
#allgemein {
    clear: both;
    padding-top: 15px;
}
